.chats-page {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.chats-container {
	display: flex;
	flex: 1;
}

.chat-tree {
	margin: 10px;
	width: 250px;
	background-color: #f0f0f000;
	border: 2px solid #ffd4e8;
	border-radius: 15px;
	padding: 10px;
}

.chat-item {
	padding: 10px;
	margin-bottom: 5px;
	cursor: pointer;
	border: 1px solid #fcc3de;
	border-radius: 10px;
}

.chat-item.active {
	background-color: #ffc0dd;
}

.chat-window {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 10px;
	border: 2px solid #ffd4e8;
	border-radius: 15px;
	margin: 10px;
}

.chat-messages {
	flex: 1;
	padding: 10px;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
}

.message {
	padding: 10px;
	margin-bottom: 5px;
	border-radius: 5px;
	max-width: 70%;
	word-wrap: break-word;
}

.message.user {
	background-color: #ffd4e8;
	align-self: flex-end;
	border-top-right-radius: 0%;
}

.message.bot {
	background-color: #ffd4e8;
	align-self: flex-start;
	border-top-left-radius: 0%;
}

.chat-input {
	display: flex;
	padding: 10px;
	border: 2px solid #ffd4e8;
	border-radius: 10px;
	align-items: center;
	height: 5%;
}

.chat-input input {
	flex: 1;
	padding: 10px;
	border: none;
	border-radius: 5px;
	color: black;
}

.chat-input input::placeholder
{
	color: black;
}

.chat-input button {
	padding: 10px 20px;
	margin-left: 10px;
	background-color: #ffd4e8;
	color: #000000;
	font-weight: 600;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	height: 40px;
}

.chat-input button:hover {
	background-color: #fcc3de;
}
